@page
@model MyApp.Namespace.UtvecklareModel
@{
    ViewData["Title"] = "Om utvecklaren";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>Här visas information om utvecklaren av sidan</p>
</div>
<br>
<div class="container">
    <div class="row">

        <div class="col-md-3">
            <img src="~/images/profil.png" alt="Profilbild" class="img-fluid rounded-circle">
        </div>


        <div class="col-md-8">
            <h2>Om mig</h2>
            <p>
                Hej! Mitt namn är Dominika Berg. Jag är en student av Webbutvecklingsprogrammet på Mittuniversitet i
                Sundsvall.
                <br>
                <br>
                Jag studerar fullstack-utveckling men trivs med back-end mest då jag gillar att få saker att fungera.
            </p>
        </div>
    </div>
</div>